<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.life.bank.palm.dao.community.mapper.BankCommentMapper">

    <!--  biz_comment  -->
    <resultMap id="resultMapComment" type="com.life.bank.palm.dao.community.mapper.BankCommentMapper">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="UserId" column="user_id" jdbcType="INTEGER"/>
        <result property="EntityId" column="entity_id" jdbcType="BIGINT"/>
        <result property="EntityType" column="entity_type" jdbcType="INTEGER"/>
        <result property="commentContent" column="comment_content" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,entity_id,entity_type,comment_content,create_time,update_time
    </sql>


    <insert id="insert">
        INSERT INTO `palm-bank`.bank_comment (id, user_id, entity_id, entity_type, comment_content, create_time, update_time)
        VALUES (#{id},#{userId},#{entityId},#{entityType},#{commentContent},#{createTime},#{updateTime})
    </insert>


    <delete id="delete">
        DELETE FROM `palm-bank`.bank_comment WHERE id=#{id}
    </delete>


    <select id="select" resultType="com.life.bank.palm.dao.community.pojo.BankCommentPO">
        SELECT
        <include refid="Base_Column_List"/>,
        FROM `palm-bank`.bank_comment
        WHERE entity_type=1 AND entity_id = 11000
        ORDER BY create_time desc
    </select>

    <update id="sub_select">
        select
        <include refid="Base_Column_List"/>,
        from `palm-bank`.bank_comment
        where entity_type=2 AND entity_id = #{userId}
        ORDER BY create_time desc
    </update>
</mapper>